body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  color: #1c2631;
  background: #f9faff;
}
.page-container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 10rem);
}
.card {
  padding: 1rem;
  margin: 1rem;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);
}
.page-enter-active, .page-leave-active {
  transition: opacity .2s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}